FichasTP/.idea/
FichasTP/Ficha5/.idea/
FichasTP/Ficha5/Exercicio1/out/
FichasTP/Ficha5/Exercicio2/out/
FichasTP/Ficha5/Exercicio3/out/
FichasTP/Ficha5/Exercicio4/out/
FichasTP/Ficha5/Exercicio5/out/
FichasTP/Ficha5/out/
FichasTP/Ficha5/Exercicio6/out/
FichasTP/Ficha6/.idea/
FichasTP/out/
POO-Projeto/
*.txt
*.TXT
*.ctxt
*.class
*.bluej
*.iml
resumos.*
